{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main class="gh-main">

    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-outer">
            <div class="gh-inner gh-canvas">

                {{#if primary_tag}}
                    <a class="gh-article-tag gh-text-post-attributes" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}
                <h1 class="gh-article-title is-title">{{title}}</h1>
                {{#if custom_excerpt}}
                    <p class="gh-article-excerpt is-body">{{custom_excerpt}}</p>
                {{/if}}

                <div class="gh-article-image">
                    {{> "feature-image"}}
                </div>

                {{#if @custom.show_post_metadata}}
                    <div class="gh-meta-share">
                        <div class="gh-article-meta">
                            <div class="gh-article-author-image instapaper_ignore">
                                {{#foreach authors}}
                                    {{#if profile_image}}
                                        <a href="{{url}}">
                                            <img src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                                        </a>
                                    {{else}}
                                        <a href="{{url}}" aria-label="{{name}}">{{> "icons/avatar"}}</a>
                                    {{/if}}
                                {{/foreach}}
                            </div>
                            <div class="gh-article-meta-wrapper">
                                <span class="gh-article-author-name">{{authors}}</span>
                                <div class="gh-article-meta-content">
                                    <time class="gh-text-post-attributes gh-article-date" datetime="{{date format="M/DD/YYYY"}}">{{date format="M/DD/YYYY"}}</time>
                                    {{!-- {{#if reading_time}}
                                        <span class="gh-article-meta-length"><span class="bull">—</span> {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                                    {{/if}} --}}
                                </div>
                            </div>
                        </div>
                        <a href="#/share" class="gh-button">
                            {{t "Share"}}
                        </a>
                    </div>
                {{/if}}

                {{#if tags}}
                    <nav class="gh-article-tags" aria-label="Post tags">
                        <span class="gh-text-post-attributes gh-text-post-attributes-black">tags </span>
                        {{#foreach tags}}<a class="gh-article-tag gh-text-post-attributes" href="{{url}}">{{name}}</a>{{#unless @last}}, {{/unless}}{{/foreach}}
                    </nav>
                {{/if}}

            </div>
        </header>

        <section class="gh-content gh-outer is-body{{#if @custom.enable_drop_caps_on_posts}} drop-cap{{/if}}">
            <div class="gh-inner gh-canvas">
                {{content}}
            </div>
        </section>

    </article>

    {{#if comments}}
        <div class="gh-comments gh-outer">
            <div class="gh-inner gh-canvas">
                {{comments}}
            </div>
        </div>
    {{/if}}

</main>

{{/post}}

{{> "components/styled-section-header" text="Related"}}

{{> "components/related-posts"}}

{{#if @custom.show_related_articles}}
    {{> "components/styled-section-header" text="Recent"}}

    {{#get "posts" include="authors" filter="id:-{{post.id}}" limit="4" as |next|}}
        {{#if next}}
            <section class="gh-related-posts gh-outer">
                <div class="gh-inner">
                    <ul class="gh-related-posts-feed" role="list">
                        {{#foreach next}}
                        <li>
                            <article class="gh-related-post-item" aria-labelledby="gh-recent-post-title-{{@index}}">

                                {{#if primary_tag}}
                                    <span class="gh-post-card-group-tag gh-text-post-attributes">{{primary_tag.name}}</span>
                                {{/if}}

                                {{#if feature_image}}
                                    <figure class="gh-post-card-group-figure">
                                        <img
                                            class="gh-post-card-group-image"
                                            srcset="{{img_url feature_image size="xs" format="webp"}} 160w,
                                                    {{img_url feature_image size="s" format="webp"}} 320w,
                                                    {{img_url feature_image size="m" format="webp"}} 600w,
                                                    {{img_url feature_image size="l" format="webp"}} 960w"
                                            sizes="(max-width: 767px) 100vw, 25vw"
                                            src="{{img_url feature_image size="m"}}"
                                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                            loading="lazy"
                                            width="600"
                                            height="400"
                                        >
                                    </figure>
                                {{/if}}

                                <h3 class="is-title gh-header-text-tall-upper" id="gh-recent-post-title-{{@index}}">
                                    <a href="{{url}}">{{title}}</a>
                                </h3>

                                <time class="gh-text-post-attributes" datetime="{{date format="M/DD/YYYY"}}">
                                    {{date format="M/DD/YYYY"}}
                                </time>

                                {{#if custom_excerpt}}
                                    <p class="is-body">{{custom_excerpt}}</p>
                                {{else}}
                                    {{#if excerpt}}
                                        <p class="is-body">{{excerpt}}</p>
                                    {{/if}}
                                {{/if}}

                            </article>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
            </section>
        {{/if}}
    {{/get}}
{{/if}}
