{{#get "posts" limit="3" filter=filter include="tags" as |cards|}}
{{#if cards}}
<section class="gh-post-card-group gh-outer" aria-labelledby="gh-post-card-group-heading">
    <div class="gh-post-card-group-inner gh-inner">

        {{!-- <h2 class="is-title gh-header-text-tall-upper" id="gh-post-card-group-heading">Featured</h2> --}}

        <ul class="gh-post-card-group-feed" role="list">
            {{#foreach cards}}
            <li>
                <article class="gh-post-card-group-item" aria-labelledby="gh-pcg-title-{{@index}}">

                    {{#if primary_tag}}
                        <span class="gh-post-card-group-tag gh-text-post-attributes">{{primary_tag.name}}</span>
                    {{/if}}

                    {{#if feature_image}}
                        <figure class="gh-post-card-group-figure">
                            <img
                                class="gh-post-card-group-image"
                                srcset="{{img_url feature_image size="xs" format="webp"}} 160w,
                                        {{img_url feature_image size="s" format="webp"}} 320w,
                                        {{img_url feature_image size="m" format="webp"}} 600w,
                                        {{img_url feature_image size="l" format="webp"}} 960w"
                                sizes="(max-width: 767px) 100vw, 33vw"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                loading="lazy"
                                width="600"
                                height="400"
                            >
                        </figure>
                    {{/if}}

                    <h3 class="is-title gh-header-text-tall-upper" id="gh-pcg-title-{{@index}}">
                        <a href="{{url}}">{{title}}</a>
                    </h3>

                    <time class="gh-text-post-attributes gh-post-attribute-date-buffered " datetime="{{date format="M/DD/YYYY"}}">
                        {{date format="M/DD/YYYY"}}
                    </time>

                    {{#if custom_excerpt}}
                        <p class="is-body">{{custom_excerpt}}</p>
                    {{else}}
                        {{#if excerpt}}
                            <p class="is-body">{{excerpt}}</p>
                        {{/if}}
                    {{/if}}

                </article>
            </li>
            {{/foreach}}
        </ul>

    </div>
</section>
{{/if}}
{{/get}}
