{{#get "posts" limit="3" filter=filter as |posts|}}
{{#if posts}}
<section class="gh-recent-post-list gh-outer" aria-label="{{#if heading}}{{heading}}{{else}}Recent posts{{/if}}">
    {{#if heading}}
        <h2 class="gh-recent-post-list-heading is-title">{{heading}}</h2>
    {{/if}}
    <ol class="gh-recent-post-list-items gh-inner" role="list">
        {{#foreach posts}}
        <li class="gh-recent-post-list-item">

            <div class="gh-recent-post-list-row">
                {{#if @first}}
                    {{#if feature_image}}
                        <figure class="gh-recent-post-list-figure">
                            <img
                                class="gh-recent-post-list-image"
                                srcset="{{img_url feature_image size="xs" format="webp"}} 160w,
                                        {{img_url feature_image size="s" format="webp"}} 320w"
                                sizes="(max-width: 767px) 30vw, 15vw"
                                src="{{img_url feature_image size="s"}}"
                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                loading="eager"
                                width="320"
                                height="213"
                            >
                        </figure>
                    {{/if}}
                {{/if}}

                <div class="gh-recent-post-list-content">
                    <h3 class="gh-recent-post-list-title is-title">
                        <a href="{{url}}">{{title}}</a>
                    </h3>
                    <time class="gh-recent-post-list-date" datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="DD MMM YYYY"}}
                    </time>
                    {{#if custom_excerpt}}
                        <p class="gh-recent-post-list-excerpt is-body">{{custom_excerpt}}</p>
                    {{else}}
                        {{#if excerpt}}
                            <p class="gh-recent-post-list-excerpt is-body">{{excerpt}}</p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <hr class="gh-recent-post-list-divider" aria-hidden="true">

        </li>
        {{/foreach}}
    </ol>
</section>
{{/if}}
{{/get}}
