<section class="gh-recent-post-list gh-outer{{#match order "odd"}} is-order-odd{{/match}}{{#match order "even"}} is-order-even{{/match}}" aria-label="{{#if heading}}{{heading}}{{else}}Recent posts{{/if}}">
    {{#if heading}}
        <h3 class="is-title gh-header-text-serif">{{heading}}</h3>
    {{/if}}
    {{#get "posts" limit="3" filter=filter as |posts|}}
    {{#if posts}}
    <ul class="gh-recent-post-list-items gh-inner" role="list">
        {{#foreach posts}}
        <li>
            <article class="gh-recent-post-list-item">

                <div class="gh-recent-post-list-row">
                    {{#if @first}}
                        {{#if feature_image}}
                            <figure class="gh-recent-post-list-figure">
                                <img
                                    class="gh-recent-post-list-image"
                                    srcset="{{img_url feature_image size="xs" format="webp"}} 160w,
                                            {{img_url feature_image size="s" format="webp"}} 320w"
                                    sizes="(max-width: 767px) 30vw, 15vw"
                                    src="{{img_url feature_image size="s"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                    loading="eager"
                                    width="320"
                                    height="213"
                                >
                            </figure>
                        {{/if}}
                    {{/if}}

                    <div class="gh-recent-post-list-content">
                        <a class="is-title gh-header-text-tall-upper" href="{{url}}">{{title}}</a>
                        <time class="gh-text-post-attributes" datetime="{{date format="M/DD/YYYY"}}">
                            {{date format="M/DD/YYYY"}}
                        </time>
                    </div>
                </div>

                <div class="gh-recent-post-list-divider"></div>

            </article>
        </li>
        {{/foreach}}
    </ul>
    {{/if}}
    {{/get}}
</section>
